
# SQLite Database
chinook.db
*.db
*.sqlite
*.sqlite3

# Python virtual environment
.venv/
venv/
ollama-env/
env/
*.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE and editor files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Dependency and build artifacts
dist/
build/
*.egg-info/
